<html xmlns:py="http://genshi.edgewall.org/" py:strip="">
<div>
 <py:choose>
  <py:when test="req.session.authenticated">
   <form id="${form}" method="GET" action="${req.href(parent,'__REPLACE_DYNAMICALLY__')}">
    <input type="text" placeholder="${placeholder}" id="${project}" />
    <input type="submit" value="${button}"/>
    <input type="hidden" name="template" value="${template}" />
    <input type="hidden" name="action" value="edit" />
   </form>
   <script type="text/javascript">
     $("form#${form}").submit(function() {
       var project_name = $("input#${project}").val();
       var form_action = $("form#${form}").attr("action");
       form_action = form_action.replace("__REPLACE_DYNAMICALLY__", project_name);
       $("form#${form}").attr("action", form_action);
       return true;
     });
   </script>
  </py:when>
  <py:otherwise>
   <b>To create a new page, you'll need to
      <a href="${req.href.login()}">log in</a> or
      <a href="${req.href.register()}">create an account</a>
      first.</b>
  </py:otherwise>
 </py:choose>
</div>
</html>
